
app-login {

}

$white-color: #fff;
$height100: 100%;

ion-grid {
  width:100%;
  height: $height100;
  background: #dfdfdf;
}

ion-row {
  height: $height100;
}

ion-col {
  padding: 24px;
  border: 1px solid #488aff;
  background: $white-color;
}

ion-button {
  font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
  ion-grid {
    background: $white-color;
  }
  ion-col {
    border: none;
  }
}

ion-input{
  padding-left: 20px;
}

input{
  text-indent: 20px;
}

ion-label{
  margin-bottom: 5px!important;
  font-size: 25px !important;
}

form{
  margin: 0;
  position: absolute;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.title-login{
  text-align: center;
}
